.main{

    border: 2px dashed rgba(174, 9, 9, 0.563);
    margin: 30px;
    height: 800px;
    width: 600px;
    background-color: rgb(0, 34, 6);
}
.content{
    margin: 20px;
    border: 2.5px dashed rgba(188, 143, 143, 0.573);
    height: 750px;
    background-image: url('main.jpg');
}

.content p{
    color: blanchedalmond;
}
.heading{
    margin-top: 30px;
    color: rgb(212, 212, 151);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.name{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 400px;
    background-color: rgba(245, 245, 220, 0.485);
    color: rgb(2, 2, 1);
    padding: 3px;
}
.name h1{
    color: rgb(60, 33, 9);
    font-size: 35px;
}